#panel {
	-fx-background-color: navajowhite;
}

#bordered-panel {
	-fx-background-color: navajowhite;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-border-color: slategrey;
	-fx-border-radius: 10;
	-fx-border-insets: 4;
}

#bordered-dialog {
	-fx-background-color: navajowhite;
	-fx-background-radius: 10;
	-fx-border-width: 3;
	-fx-border-color: darkslategrey;
	-fx-border-radius: 10;
	-fx-border-insets: 4;
}

#dialog-text {
	-fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
}

#side-bar {
	-fx-background: tan;
	-fx-border-width: 2;
	-fx-border-color: slategrey;
	-fx-background-color: tan;
	-fx-border-radius: 10;
}

#header {
	-fx-font-size: 24pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-fill: slategrey;
}

#card-border {
	 -fx-background-color: antiquewhite;
	 -fx-border-color: black;
	 -fx-border-style: solid;
	 -fx-border-width: 1.0;
}

#outlined-score {
 	-fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

#outlined-score-yellow {
 	-fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-fill: yellow;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

#tooltip-description {
	-fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
}

#race-label {
	-fx-font-size: 8pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-style : italic;
}

#name-big {
	-fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#name-small {
	-fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#default-button {
	-fx-font-size: 18pt;
    -fx-font-family: "Arial";
    -fx-fill: slategrey;
}

#default-label {
	-fx-font-size: 18pt;
    -fx-font-family: "Arial";
    -fx-fill: slategrey;
}

