.class-button {
	-fx-font-size: 20pt;
    -fx-font-family: "System";
}

.card-entry-name {
	-fx-font-size: 10pt;
    -fx-font-family: "System";
    -fx-fill: black;
    -fx-font-weight: bold;
	-fx-wrap-text: true;
}

.card-entry {
	-fx-border-width: 2;
	-fx-border-color: black;
	-fx-background-color: tan;
	-fx-border-radius: 10;
}

.card-entry:hover {
	-fx-border-width: 3;
	-fx-border-color: yellow;
	-fx-background-color: silver;
	-fx-border-radius: 10;
}

.delete-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
    -fx-background-insets: 0;
	-fx-padding: 4;
}

.delete-button:hover {
	-fx-background-color: transparent;
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
	-fx-scale-z: 1.2;
}
