.board {
	-fx-background-color: bisque;
}

.center-message {
	-fx-font-size: 20pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#target-button {
	-fx-background-color: transparent;
}