.title {
	-fx-font-size: 32pt;
    -fx-font-family: "System";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, black, 6.0, 0.9, 1.0, 1.0);
    -fx-fill: white;
}

.main-button {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "System";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.main-button:hover {
    -fx-text-fill: darkorange;
}

.main-button-large {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-radius: 40,40,40,40;
    
    -fx-font-family: "System";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.main-button-large:hover {
    -fx-text-fill: darkorange;
}
