#board {
	-fx-background-color: darkkhaki;
}

#center_message {
	-fx-font-size: 20pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#target_button {
	-fx-background-color: transparent;
}

#name {
	-fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#name_big {
	-fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
