#board {
	-fx-background-color: darkkhaki;
}

#outlined_score {
    -fx-font: bold 16.0pt "Arial";
    /*-fx-effect: dropshadow(one-pass-box, black, 6.0, 0.9, 1.0, 1.0);*/
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

#card_border {
	 -fx-background-color: antiquewhite;
	 -fx-border-color: black;
	 -fx-border-style: solid;
	 -fx-border-width: 1.0;
}

#center_message {
	-fx-font: bold 20.0pt "Arial";
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#target_button {
	-fx-background-color: transparent;
}

