#class-button {
	-fx-font-size: 20pt;
    -fx-font-family: "Arial";
    -fx-fill: darkgrey;
}

#default-button {
	-fx-font-size: 18pt;
    -fx-font-family: "Arial";
    -fx-fill: darkgrey;
}

#default-label {
	-fx-font-size: 18pt;
    -fx-font-family: "Arial";
    -fx-fill: darkgrey;
}

#card-entry {
	-fx-border-width: 2;
	-fx-border-color: black;
	-fx-background-color: antiquewhite;
}

#card-entry-name {
	-fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-fill: black;
    -fx-font-weight: bold;
}