#classButton {
	-fx-font-size: 24pt;
    -fx-font-family: "Arial";
    -fx-fill: darkgrey;
}

#defaultButton {
	-fx-font-size: 18pt;
    -fx-font-family: "Arial";
    -fx-fill: darkgrey;
}

#defaultLabel {
	-fx-font-size: 18pt;
    -fx-font-family: "Arial";
    -fx-fill: darkgrey;
}

#card_entry {
	-fx-border-width: 2;
	-fx-border-color: black;
	-fx-background-color: antiquewhite;
}

#card_entry_name {
	-fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-fill: black;
    -fx-font-weight: bold;
}